/*CONFIG*/
    $alert: true;
    $animation: false;
    $background: true;
    $button: true;
    $form: true;
    $grid: true;
    $img: true;
    $label: true;
    $link: true;
    $margin: true;
    $notify: false;
    $display: true;
    $padding: true;
    $reset: true;
    $responsive: true;
    $shadow: false;
    $text: true;
/* /CONFIG*/